<div id="<%= dom_id tag %>">
  <p>
    <strong>Title:</strong>
    <%= tag.title %>
  </p>

  <p>
    <strong>Story:</strong>
    <%= tag.story_id %>
  </p>

  <p>
    <strong>Fork:</strong>
    <%= tag.fork_id %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= tag.theme_id %>
  </p>

</div>
